<ion-content padding>
  <ion-title>{{ translations.weightAddUpdate }}</ion-title>
  <div class="updateButtons">
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="tertiary" (click)="showWeightUpdate()">
        {{ translations.weight }}
      </ion-button>
      <ion-button fill="solid" color="tertiary"  (click)="showWeightObjectifUpdate()">
        {{ translations.objectifs }}
      </ion-button>
      <ion-button fill="solid" color="tertiary"  (click)="showNutritionUpdate()">
        {{ translations.nutrition }}
      </ion-button>
      <ion-button fill="solid" color="tertiary"  (click)="showCaloriesUpdate()">
        {{ translations.calories }}
      </ion-button>
    </ion-buttons>
  </div>
  <span *ngIf="auth">
    <span *ngIf="updateWeight">
      <app-weight-update-weight></app-weight-update-weight>
    </span>
    <span *ngIf="updateObjectif">
      <app-weight-objectif-update></app-weight-objectif-update>
    </span>
    <span *ngIf="updateNutrition">
      <app-add-edit-nutrition></app-add-edit-nutrition>
    </span>
    <span *ngIf="updateCaloriesCalc">
      <app-calculator></app-calculator>
    </span>
  </span>
  <span *ngIf="!auth">
    <div *ngIf="auth === false ">
      <button class="btn btn-primary" routerLink="/user-login">
        <span>{{ translations.loginRequired }}</span>
        <ion-icon name="person"></ion-icon>
      </button>
    </div>  
  </span>
</ion-content>


