.weightUpdateList {
    font-size: 70%;   
    margin-top: 4px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    background-color: #ccbebe;
    border: solid 2px #cca3a3; 
    border-radius: 4px;
}

.updateFlexBetween {
  display:flex;
  justify-content: space-between;
}

.updateFlex {
  display:flex;
  justify-content: left;
}

.updateFlexRight {
  display:flex;
  justify-content: right;
}


.weightUpdateList div {
  vertical-align: middle;
  margin: 2px;
}

input {
    width: 60px;
    margin: 2px;
    border-radius: 4px;
}

label {
  width: 70px;
  margin: 2px;
  text-align: right;
}

button {
   margin: 2px;   
}

.showButton {
  visibility: visible;
  display: initial;
}

.hideButton {
  visibility: hidden;
  display: none;
}

.showEdit {
  visibility: visible;
  display: block;
}

.hideEdit {
  visibility: hidden;
  display: none;
}

ion-icon {
  font-size: 25px;
  width: 30px;
}

.toggle-label-bold {
  font-weight: bold;
  font-size: 80%;
}

.toggle-label {
  font-size: 80%;
}

.toggle-flex {
  display: flex;
  align-items: center;
}