<ion-header>
  <ion-toolbar>
    <ion-title>{{ translations.weightAddUpdate }}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" color="secondary" (click)="showWeightUpdate()">
        {{ translations.weight }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="secondary"  (click)="showWeightObjectifUpdate()">
        {{ translations.objectifs }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <span *ngIf="auth">
    <span *ngIf="show">
      <app-weight-update></app-weight-update>
    </span>
    <span *ngIf="!show">
      <app-weight-objectif-update></app-weight-objectif-update>
    </span>
  </span>
  <span *ngIf="!auth">
    <div *ngIf="auth === false ">
      <button class="btn btn-primary" routerLink="/user-login">
        <span>{{ translations.loginRequired }}</span>
        <ion-icon name="person"></ion-icon>
      </button>
    </div>  
  </span>
</ion-content>
