.weight-loss-overview-component {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.overview, .header-flex {
    display: flex;
    justify-content: center;    
}

.wrapper {
    border: solid 2px #991111;
    border-radius: 8px;
}
.header-flex div:first-child {
    padding: 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.wrapper .overview:last-child div:last-child {
    border-bottom-right-radius: 6px;
}
 
.wrapper .overview:last-child div:first-child {
    border-bottom-left-radius: 6px;
}

.header {
    width: 600px;
    padding: 2px;
    margin: 0;
}

.info {
    display: flex;
    justify-content: left;
}

.overview .even, .uneven {
    width: 360px;
    padding: 2px;
}

.overview .info {
    width: 240px;
    padding: 2px;
}

@media (min-width: 901px) {
    .info span  {
        width: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .even, .uneven, .info {
        font-size: 80%;
    }
    .info span  {
        width: 70px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .even, .uneven, .even-info, .uneven-info {
        font-size: 90%;
    }       
    .info span  {
        width: 80px;
    }
}