.overview {
    display: flex;
    justify-content: center;    
}

.overview div {
    width: 300px;
    border: 1px solid gainsboro;
}

.info {
    display: flex;
    justify-content: left;
}

.info span  {
    width: 120px;
}

