<ion-header>
  <ion-toolbar>
    <ion-title>{{ translations.login }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login" padding>
  <div class="login">
  <br>
  <div *ngIf="message" [ngClass]="auth ? 'alert alert-success' : 'alert alert-danger'">
  {{ message }} 
  </div>
  <div class="card" *ngIf="showLogin && !auth">
      <div class="card-body">
        <form [formGroup]="angForm" novalidate>
          <div class="form-group">
            <label class="col-md-4"> {{ translations.email }}</label>
            <input type="text" class="form-control" formControlName="email" #email />
          </div>
          <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">
              {{ translations.emailRequired}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">{{ translations.password }}</label>
            <input type="password" class="form-control" formControlName="pwd" #pwd />
          </div>
          <div *ngIf="angForm.controls['pwd'].invalid && (angForm.controls['pwd'].dirty || angForm.controls['pwd'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['pwd'].errors.required">
              {{ translations.passwordRequired }}
            </div>
          </div>
          <div class="form-group">
            <button type="submit" 
            [disabled]="angForm.pristine || angForm.invalid" 
            class="btn btn-primary" (click)="loginUser()">{{ translations.submit }}</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card" *ngIf="showLogin === false">
        <div class="card-body">
            <form [formGroup]="bForm" novalidate>
              <div class="form-group">
                <label class="col-md-4"> {{ translations.email }}</label>
                <input type="text" class="form-control" formControlName="email" #email />
              </div>
              <div *ngIf="bForm.controls['email'].invalid && (bForm.controls['email'].dirty || bForm.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="bForm.controls['email'].errors.required">
                  {{ translations.emailRequired }}
                </div>
                <div *ngIf="bForm.controls['email'].errors.required">
                    TODO => email not conform
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">{{ translations.password }}</label>
                <input type="password" class="form-control" formControlName="pwd" #pwd />
              </div>
              <div *ngIf="bForm.controls['pwd'].invalid && (bForm.controls['pwd'].dirty || bForm.controls['pwd'].touched)" class="alert alert-danger">
                <div *ngIf="bForm.controls['pwd'].errors.required">
                  {{ translations.passwordRequired }}
                </div>
              </div>
              <div class="form-group">
                  <label class="col-md-4"> {{ translations.name }}</label>
                  <input type="text" class="form-control" formControlName="name" #name />
                </div>
                <div *ngIf="bForm.controls['name'].invalid && (bForm.controls['name'].dirty || bForm.controls['name'].touched)" class="alert alert-danger">
                  <div *ngIf="bForm.controls['name'].errors.required">
                    {{ translations.nameRequired }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4"> {{ translations.firstName }}</label>
                  <input type="text" class="form-control" formControlName="firstName" #firstName />
                </div>
                <div *ngIf="bForm.controls['firstName'].invalid && (bForm.controls['firstName'].dirty || bForm.controls['firstName'].touched)" class="alert alert-danger">
                  <div *ngIf="bForm.controls['firstName'].errors.required">
                    {{ translations.firstNameRequired }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4"> {{ translations.startWeight }}</label>
                  <input type="text" class="form-control" formControlName="startWeight" #startWeight />
                </div>
                <div *ngIf="bForm.controls['startWeight'].invalid && (bForm.controls['startWeight'].dirty || bForm.controls['startWeight'].touched)" class="alert alert-danger">
                  <div *ngIf="bForm.controls['startWeight'].errors.required">
                    {{ translations.startWeightRequired }}
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"> {{ translations.targetWeight }}</label>
                    <input type="text" class="form-control" formControlName="targetWeight" #targetWeight />
                </div>
                <div *ngIf="bForm.controls['targetWeight'].invalid && (bForm.controls['targetWeight'].dirty || bForm.controls['targetWeight'].touched)" class="alert alert-danger">
                  <div *ngIf="bForm.controls['targetWeight'].errors.required">
                    {{ translations.targetWeightRequired }}
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"> {{ translations.length }}</label>
                    <input type="number" min="100" max="210" class="form-control" formControlName="length" #length />
                </div>
                <div *ngIf="bForm.controls['length'].invalid && (bForm.controls['length'].dirty || bForm.controls['length'].touched)" class="alert alert-danger">
                  <div *ngIf="bForm.controls['length'].errors.required">
                    {{ translations.lengthRequired }}
                  </div>
                  <div *ngIf="bForm.controls['length'].errors.min || bForm.controls['length'].errors.min">
                      TODO length tussen 100 en 210
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"> {{ translations.age }}</label>
                    <input type="text" class="form-control" formControlName="age" #age />
                </div>
                <div *ngIf="bForm.controls['age'].invalid && (bForm.controls['age'].dirty || bForm.controls['age'].touched)" class="alert alert-danger">
                  <div *ngIf="bForm.controls['age'].errors.required">
                    {{ translations.ageRequired }}
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"> {{ translations.gender }}</label>
                    <select class="form-control" formControlName="gender" #gender>
                      <option value="m">{{ translations.male }}</option>
                      <option value="f">{{ translations.female }}</option>
                      <option value="o">{{ translations.other }}</option>
                    </select>
                </div>
                <!--li-ionic4-datepicker [(ngModel)]="mydate" [inputDateConfig]="datePickerObj"></li-ionic4-datepicker>
                <ion-input readonly [(ngModel)]="mydate" [liIonic4Datepicker]="datePickerObj">
                </ion-input-->
                <div class="form-group">
                    <label class="col-md-4"> {{ translations.startDate }}</label>
                    <input type="date" class="form-control" formControlName="startDate" #startdate />
                </div>
                <div *ngIf="bForm.controls['startDate'].invalid && (bForm.controls['startDate'].dirty || bForm.controls['startDate'].touched)" class="alert alert-danger">
                  <div *ngIf="bForm.controls['startDate'].errors.required">
                    {{ translations.startDateRequired }}
                  </div>
                </div>            
              <div class="form-group">
                <button type="submit" 
                [disabled]="bForm.pristine || bForm.invalid" 
                class="btn btn-primary" (click)="saveUser()">{{ translations.save }}</button>
              </div>
            </form>
          </div>
    </div>
    <div *ngIf="showLogin && !auth">
        <button type="submit" class="btn btn-primary" (click)="inscription()"> {{ translations.inscription }}</button>
      </div>
    <div *ngIf="!showLogin && !auth">
      <button type="submit" class="btn btn-primary" (click)="login()">{{ translations.backToLogin}}</button>  
    </div>
    <div *ngIf="auth">
      <button type="submit" class="btn btn-primary" (click)="logOut()"><ion-icon name="exit"></ion-icon> {{ translations.logout }}</button>  
    </div>
  </div>

</ion-content>  