.month-wrapper {
  border: solid 2px  #ccbebe;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 10px;
}

.month-flex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.month-card {
  display: inline-block;
  width: 150px;
}

ion-card, ion-card-subtitle {
  background-color:  #ccbebe;
  color: white;
}

.toggle-flex  {
  display: flex;
  justify-content: right;
  vertical-align: top;
}

.toggle-label {
  margin-top: 10px;
  font-size: 85%;
  font-weight: bold;
}

.title-flex {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}