.weight-loss-month-data {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 55%;
  }
  
  .statList-wrapper {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .statList {
      display: flex;
      justify-content: center;
  }
  
  .statList div {
    width: 100px;
  }
  