<div class="month-wrapper">
  <div class="title-flex">
    <div class="title">Gewichtsverlies per maand</div>
    <div class="toggle-flex">
      <div class="toggle-label">alles</div>
      <ion-toggle [(ngModel)]="monthToggle" (ionChange)="toggle()"></ion-toggle>
      <div class="toggle-label">alleen dit jaar</div>
    </div>
  </div>
  <div class="month-flex">
    <div class="month-card" *ngFor="let m of monthData | yearMonthStats: monthSearch">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ m.month }} / {{ m.year}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" [name]="m.monthWeightLoss >= 2 ? 'sunny-outline' : m.monthWeightLoss >= 1 ? 'partly-sunny-outline' : m.monthWeightLoss >= 0 ? 'cloudy-outline' : 'thunderstorm-outline'"></ion-icon>
          <span>  {{ m.monthWeightLoss }} kg</span>
        </ion-card-content>
      </ion-card>
    </div>
  </div>  
</div>


