.badges-light { 
    border: solid 2px #ccbebe;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px;
}

.badges-dark { 
    border: solid 2px #cca3a3;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px;
}

.badges-flex {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 85%;
    font-weight: bold;
}

.badge-txt {
    font-weight: bold;
}

ion-card, ion-card-subtitle {
    width: 125px;
}

.card-light {
    background-color:  #ccbebe;
    color: white;
}

.card-dark {
    background-color:  #cca3a3;
    color: white;
}