<div class="badges-wrapper">
  <div class="badges-dark">
    <div class="title">{{ translations.weightLoss }} in % van totaal te verliezen gewicht - {{ totalWeightToLose }} kg</div>
    <div  class="badges-flex">
      <div *ngFor="let badge of badgesFromWeightToLose">
        <ion-card class="card-dark">
          <ion-card-content>
            <ion-icon size="large" name="scale-outline"></ion-icon>
            <div class="badgeTxt">{{ badge }}</div>
          </ion-card-content>
        </ion-card> 
      </div>
    </div>
  </div>
  <br>
  <div class="badges-light">
    <div class="title">{{ translations.weightLoss}} in % van begin gewicht - {{ startWeight }} kg      </div>
    <div *ngFor="let badge2 of badgesFromStartWeight" class="badges-flex">
      <ion-card class="card-light">
        <ion-card-content>
          <ion-icon size="large" name="scale-outline"></ion-icon>
          <div class="badge-txt">{{ badge2 }}</div>
        </ion-card-content>
      </ion-card> 
    </div>
  </div>
</div>