<div class="objectif-wrapper">
  <div class="title-flex">
    <div class="title">Doelen</div>
    <div class="toggle-flex">
      <div class="toggle-label">alles</div>
      <ion-toggle [(ngModel)]="goalToggle" (ionChange)="toggle()"></ion-toggle>
      <div class="toggle-label">reeds behaald</div>
    </div>
  </div>
  <div class="objectif-flex">
    <div class="objectif-card" *ngFor="let o of objectifs | objectif: goalSearch">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <div class="card-title-flex">
              <div class="card-title">{{o.date}}</div>
              <ion-icon [name]="o.date ? 'trophy-outline' : 'remove-circle-outline'" size="large"></ion-icon>
            </div>
          </ion-card-title>
          <ion-card-subtitle class="card-subtitle">
            <span *ngIf="o.typeObjectif == 2 || o.typeObjectif == 3">{{ o.percentage }}</span>
            <span>{{ o.typeDescription }}</span>
            <span *ngIf="o.typeObjectif == 4">{{ o.percentage }}</span>
            <span> - ({{ o.weight }} kg)</span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <span *ngIf="o.reward">- {{o.reward}}</span>
        </ion-card-content>
      </ion-card>
    </div>
  </div> 
</div>