<div class="weight-loss-data">
  <div class="statList header">
    <div class="dateWidth">Date</div>
    <div class="text-right">Weight</div>
    <div class="text-right">Weight loss</div>
    <div class="text-right">Total weight loss</div>
    <div class="text-right">Percentage of total</div>
    <div class="text-right">Weight to lose</div>
  </div>
  <div *ngFor="let w of weights" [ngClass]="(w.weekNumber % 2)? 'statList even':'statList uneven'">
    <div>{{ w.date | date: "dd-MM-yyyy" }}</div>
    <div class="text-right">{{ w.weight }} </div>
    <div class="text-right">{{ w.weekWeightLoss }}</div>
    <div class="text-right">{{ w.weightLoss }}</div>
    <div class="text-right">{{ w.weightLoss / totalWeightToLose | percent }}</div>
    <div class="text-right">{{ w.weightToLose }}</div>
  </div>
</div>
