.header {
    font-weight: bold;
    /*height: 50px;*/
    background-color: #990000;
    color: white;
    /*border: 1px solid gainsboro;*/  
}

.even {
  background-color: #cca3a3;
  /*border: 1px solid gainsboro;*/
}

.uneven {
  background-color: #ccbebe;
  /*border: 1px solid gainsboro;*/
}

.big-icon {
  font-size: 30px;
}

.img-border {
  padding: 5px;
  margin: 5px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  width: 30px;
  height: auto;
}

.updateButtons {
  display: flex;
  justify-content: center;
}