<ion-app>
  <ion-menu side="start" menuId="stats">
      <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                  <ion-icon name="menu"></ion-icon>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>menu</ion-title>
          </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item routerLink="/weight-update"><span class="img-border"><ion-icon name="add-circle-outline"></ion-icon></span>Weight update</ion-item>
          <ion-item routerLink="/weight-add"><span class="img-border"><ion-icon name="create"></ion-icon></span>Weight add</ion-item>
          <ion-item routerLink="/weight-stats/overview"><img src="assets/img/human-body.png" class="img-border"/>Overview</ion-item>
          <ion-item routerLink="/weight-stats/stats-data"><img src="assets/img/human-body.png" class="img-border"/>Data</ion-item>
          <ion-item routerLink="/weight-stats/weight-chart"><img src="assets/img/graph.png" class="img-border"/>Weight</ion-item>
          <ion-item routerLink="/weight-stats/weight-loss-chart"><img src="assets/img/graph.png" class="img-border"/>Weight loss</ion-item>
          <ion-item routerLink="/weight-stats/weight-loss-pie-chart"><img src="assets/img/pie-chart.png" class="img-border"/>Weight loss pie chart</ion-item>
          <ion-item routerLink="/weight-stats/bmi-chart"><img src="assets/img/graph.png" class="img-border"/>BMI</ion-item>
          <ion-item routerLink="/weight-stats/abdominal-circumference-chart"><img src="assets/img/graph.png" class="img-border"/>Abdominal circumference</ion-item>
        </ion-list>
      </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
  <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="user-login">
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="weight-stats/overview">
          <ion-icon name="analytics"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="weight-add">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-tab-button>
        <ion-tab-button tab="weight-update">
          <ion-icon name="create"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-app>
