
.bmi-zone-0 {
	fill: #00b33c;
    stroke: #00b33c;
}

.bmi-zone-1 { 
	fill: #805a1e;
    stroke: #805a1e;
}

.bmi-zone-2 {
	fill: #ff0000;
    stroke: #ff0000;
}

.bmi-zone-3  {
	fill:#cc0000;
    stroke:#cc0000;
}

.bmi-zone-4  {
	fill:#990000;
    stroke:#990000;
}

.bmi-zone-5  {
	fill:#900000 !important;
    stroke:#900000 !important;
}

.highcharts-color-0 {
    fill:#900000 !important;
    stroke:#900000 !important;
}

.kg-badges {
    padding: 2px;
    background-color: #ccbebe;
    border: 2px solid#991111;
    border-radius: 8px;
}

.img-container {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.centered {
    font-size: 80%;
    width: 125px;
    height: 50px;
}

.buttons { 
    display:flex; 
    justify-content: left; 
    flex-wrap: wrap;
}    