.kg-wrapper {
    margin-bottom: 5px;
    border: solid 2px #ccbebe;
    border-radius: 8px;
    padding: 10px;
}

.kg-flex {
    display: flex;
    flex-wrap: wrap;
}

ion-card, ion-card-subtitle {
    background-color:  #ccbebe;
    color: white;
  }

.title {
    font-size: 85%;
    font-weight: bold;
}
