input, select {
    margin: 2px;
    padding: 1px;
    border-radius: 4px;
}

button {
    margin: 2px;
    padding: 4px;
    background: #991111;
    color: white;
    border-radius: 4px;
}

.voedingsmiddelen-form {
    width: 95%;
    margin: auto;
}

.voedingsmiddelen { 
    font-size: 80%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    background-color: #ccbebe;
    border: solid 2px #cca3a3; 
    border-radius: 4px;
}

.voedingsmiddelen div {
    display:flex;
}

.voedingsmiddelen span {
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.voedingsmiddelen div div{
    width: 40%;
    text-align: right;
}


.calculator-header {
    background: #991111;
    color: white;
    font-weight: bold;
    display: flex;
    font-size: 70%;
}
*
.calculator-table {
    font-size: 70%;
    display: flex;
}

.calculator-table:nth-child(2n) {
    background-color: #cca3a3;
}

.calculator-table:nth-child(2n+1) {
    background-color: #ccbebe;
}

.calculator-table div:first-child, .calculator-header div:first-child {
    width: 150px;
    padding: 2px;
}
 
.calculator-table div:not(:first-child), .calculator-header div:not(:first-child) {
    width: 80px;
    padding: 2px;
    text-align: right;
}

.nutritionList {
    border: solid 2px #991111;
    border-radius: 8px;
}

.nutritionList .calculator-table:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}