// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.highcharts-color-0 {
    fill:#900000;
    stroke:#900000;
}

ion-toggle {
    --background: #ccbebe;
    --background-checked: #ccbebe;
  
    --handle-background: #900000;
    --handle-background-checked: #900000;
    --handle-height: 20px;
    --handle-max-height: 20px;  
}

:root {
    --ion-color-primary: #900000;
    --ion-color-secondary: #cca3a3;
}

.btn-primary {
    color: #fff !important;
    background-color:  #900000 !important;
    border-color:  #900000 !important;
}

:root {
    --ion-color-light:#ccbebe;
    --ion-color-light-rgb: 105, 187, 123;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #413f3f;
    --ion-color-light-tint: #c4aeae;
}

.ion-color-favorite {
    --ion-color-base: var(--ion-color-light);
    --ion-color-base-rgb: var(--ion-color-light-rgb);
    --ion-color-contrast: var(--ion-color-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-light-shade);
    --ion-color-tint: var(--ion-color-light-tint);
}
