// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.highcharts-color-0 {
    fill:#900000;
    stroke:#900000;
}

ion-toggle {
    --background: #ccbebe;
    --background-checked: #ccbebe;
  
    --handle-background: #900000;
    --handle-background-checked: #900000;
    --handle-height: 20px;
    --handle-max-height: 20px;  
}

:root {
    --ion-color-primary: #900000;
}

.btn-primary {
    color: #fff !important;
    background-color:  #900000 !important;
    border-color:  #900000 !important;
}
